body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh; /* Adjusted to fit the entire viewport height */
    background-image: linear-gradient(135deg, #81FFEF 10%, #F067B4 100%);
    margin: 0;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1.9rem;
    transition: all 0.3s ease-in-out;
}

.btn-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allows buttons to wrap on smaller screens */
}

.red{
    background-color: #d95980;
}

.yellow{
    background-color: #f99b45;
}

.green{
    background-color: #63aac0;
}

.purple{
    background-color: #819ff9;
}

.flash{
    background-image: linear-gradient(315deg, #C9CCD5, #FFFFFF, #C9CCD5);
}

.userflash{
    background-color: #d8e046de;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .btn {
        height: 150px;
        width: 150px;
        margin: 1.5rem;
    }
}

@media (max-width: 900px) {
    .btn {
        height: 120px;
        width: 120px;
        margin: 0.5rem;
    }
}

@media (max-width: 600px) {
    .btn {
        height: 160px;
        width: 170px;
        margin: 0.8rem;
    }
}

@media (max-width: 400px) {
    .btn {
        height: 80px;
        width: 80px;
        margin: 0.5rem;
    }
}
